<div class="resume">
  <div class="home-page">
    <div class="title">
      <h1 class="name">Chris Pereira</h1>
        <p class="subheader">Full Stack Web Developer</p>
        <p class="city">Toronto, Ontario</p>
    </div>
  </div>

  <div class="about-page">
    <p class="about-me">A front leaning full stack web developer. Currently residing in Toronto, Ontario. Having recently completed a 9 week imersive course at Bitmaker Labs (General Assembly), I'm looking to put what I've learned to use.
      I'm a movie lover, game enthusiast and coffee addict. </p>
  </div>

  <div class="portfolio-page">
  </div>

  <div class="contact-page">
    <%= form_tag email_path, method: :post, class: "email" do %>
      <%= text_field, placeholder: 'Name...' %>
      <%= text_field, placeholder: 'Email...' %>
      <%= text_area, placeholder: 'Name...' %>
      <%= submit_tag "Send" %> 
    <% end %>
  </div>
</div>
