<div class="resume">
  <div class="home-page page">
    <div class="title">
      <h1 class="name">Chris Pereira</h1>
        <p class="subheader">Full Stack Web Developer</p>
        <p class="city">Toronto, Ontario</p>
    </div>
  </div>

  <div class="about-page page">
    <%= image_tag "me_converted.png", class: "picture" %>
    <p class="about-me">A front leaning full stack web developer. Currently residing in Toronto, Ontario. Recently completed a 9 week immersive course at Bitmaker Labs (General Assembly). Ruby, Rails, Sass, JavaScript and PostgresSQL.
      I'm a movie lover, game enthusiast and coffee addict. </p>
  </div>

  <div class="portfolio-page page">
    <h1>Coming Soon.</h1>
  </div>

  <div class="contact-page page">
    <div class="contact-info">
      <p class="hire-me">Hire Me</p>
      <p class="hm">Send an email to see if we're a good fit</p><br />
      <p class="icons"><a href="https://www.github.com/cubbie"><i class="fa fa-github" aria-hidden="true"></i></a>
      <a href="https://ca.linkedin.com/in/chris-pereira"><i class="fa fa-linkedin-square" aria-hidden="true"></i></a></p>
      <%= link_to 'Resume', 'ChrisPereiraResume.pdf', class: 'resume' %>
    </div>
    <div class="contact-me">
      <%= form_for :message do |f| %>
        <%= f.text_field :name, placeholder: " Name", class:"field" %><br />
        <%= f.email_field :email, placeholder: " Email", class:"field" %><br />
        <%= f.text_area :content, placeholder: " Message", class: 'area' %><br />
        <%= f.submit "Send", class: "send" %>
      <% end %>
    </div>
  </div>
</div>
